.timeline {
  position: relative;
  padding-left: 80px;
  color: white;
  overflow: hidden;
  margin: 30px;
  height: auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 60px;
  height: 100%;
  width: 3px;
  background-color: #e0e0e0;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.timeline-step {
  position: relative;
  padding-left: 80px;
  margin-bottom: 60px;
}

.timeline-step .circle {
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 50%;
  z-index: 2;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.timeline-step.active .circle {
  background-color: #0099ff;
}

.timeline-step .content {
  position: relative;
  z-index: 3;
}

.timeline-step.active::before {
  background-color: #7782d9;
}

.timeline-step::before {
  content: '';
  position: absolute;
  top: 0;
  left: -22px;
  height: 100%;
  width: 3px;
  background-color: #e0e0e0;
  z-index: 1;
  transition: height 0.7s linear 0.3s, background-color 0.3s ease;
}

.timeline-step.active::before {
  background-color: #0099ff;
}

.timeline-step.active::before {
  height: 300%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .timeline {
      padding-left: 50px;
      margin: 20px;
     
  }
  
  .timeline::before {
      left: 28px;
      width: 3px;
    
  }
  .timeline-step::before{
    height: 100px;
   
  }
  .timeline-step {
      padding-left: 50px;
      margin-bottom: 40px;
    
  }
  
  .timeline-step .circle {
      left: -30px;
      width: 24px;
      height: 24px;
    
  }
}

@media (max-width: 480px) {
  .timeline {
      padding-left: 30px;
      margin: 10px;
  }
  
  .timeline::before {
      left: 20px;
      width: 1px;
  }

  .timeline-step {
      padding-left: 30px;
      margin-bottom: 20px;
  }
  
  .timeline-step .circle {
      left: -25px;
      width: 20px;
      height: 20px;
  }
}
